<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_name %><br>
    <%= f.text_field :program_name %>
  </div>

  <%= hidden_field_tag :program_id, @program.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  <% if @program.persisted? %>
    <hr>
      <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
              <%= hidden_field_tag 'program_id', @program.id  %>
              <%= select_tag :chef_resource_type, options_for_select([["Install from repository", "Repository"], ["Install from deb file", "Deb"], ["Install from source", "Source"]]) %>
              <%= submit_tag "add-install", class: "btn btn-success" %>
      <% end %>
      <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
              <%= hidden_field_tag 'program_id', @program.id  %>
              <%= select_tag :chef_resource_type, options_for_select([["Download file", "Download"], ["Extract file", "Extract"]]) %>
              <%= submit_tag "add-file-folder", class: "btn btn-success" %>
      <% end %>
      <h2>Chef resource</h2>
      <div class="sortable">
        <% if @program.chef_resources.any? %>
          <%= render partial: "chefresources", collection: @program.chef_resources, as: :chef %>
        <% end %>
    </div>
    <hr>
  <% end %>
<%= javascript_include_tag "programs/btn_expand_collapse.js"%>
<%= javascript_include_tag "programs/html.sortable.js"%>
<%= javascript_include_tag "programs/sort.js"%>
