<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_name %><br>
    <%= f.text_field :program_name %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  <% if @program.persisted? %>
    <hr>
      <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
              <%= hidden_field_tag 'program_id', @program.id  %>
              <%= hidden_field_tag 'chef_resource_type', "install"  %>
              <%= submit_tag "add-install", class: "btn btn-success" %>
      <% end %>
      <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
              <%= hidden_field_tag 'program_id', @program.id  %>
              <%= hidden_field_tag 'chef_resource_type', "file-folder"  %>
              <%= submit_tag "add-file-folder", class: "btn btn-success" %>
      <% end %>
      <h2>Chef resource</h2>
      <% if @program.chef_resources.any? %>
        <%= render partial: "chefresources", collection: @program.chef_resources, as: :chef %>
      <% end %>
    <hr>
  <% end %>
