<%= form_for(@chef_resource) do |f| %>
  <% if @chef_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chef_resource.errors.count, "error") %> prohibited this chef_resource from being saved:</h2>

      <ul>
      <% @chef_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_type %><br>
    <%= f.text_field :resource_type %>
  </div>
  <h2>Chef Properties</h2>
  <div class="chef_properties_fields">
    <div class="field">
      <% %>
      <% case @chef_resource.resource_type %>
      <% when "Repository", "Deb", "Source" %>
        <%= f.fields_for :chef_properties do |property| %>
          <%= property.label :name %><br>
          <%= property.text_field :value %>
          <% if property.object.id != nil %>
            <%= property.hidden_field :value_type %>
          <% else %>
            <%= property.hidden_field :value_type, :value => "name" %>
          <% end %>
        <% end %>
      <% when "Download" %>
        <%= f.fields_for :chef_properties do |property| %>
          <% if @property_count == 0 %>
            <%= property.label :name %><br>
            <%= property.text_area :value %>
            <% if property.object.id != nil %>
              <%= property.hidden_field :value_type %>
            <% else %>
              <%= property.hidden_field :value_type, :value => "name" %>
            <% end %>
          <% else %>
            <%= property.label :name %><br>
            <%= property.text_field :value %>
            <% if property.object.id != nil %>
              <%= property.hidden_field :value_type %>
            <% else %>
              <%= property.hidden_field :value_type, :value => "file_path" %>
            <% end %>
          <% end %>
          <% @property_count = @property_count + 1 %>
        <% end %>
      <% when "Extract" %>
        <%= f.fields_for :chef_properties do |property| %>
          <% if @property_count == 0 %>
            <%= property.label :name %><br>
            <%= property.text_field :value %>
            <% if property.object.id != nil %>
              <%= property.hidden_field :value_type %>
            <% else %>
              <%= property.hidden_field :value_type, :value => "source" %>
            <% end %>
          <% else %>
            <%= property.label :name %><br>
            <%= property.text_area :value %>
            <% if property.object.id != nil %>
              <%= property.hidden_field :value_type %>
            <% else %>
              <%= property.hidden_field :value_type, :value => "destination" %>
            <% end %>
          <% end %>
          <% @property_count = @property_count + 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
